<!DOCTYPE html>
<body>
        <ul>
            <li>
            <a routerLink="/dashboard">DASHBOARD</a></li>
            <li>
            <a routerLink="/deskbooking">DESK BOOKING</a></li>
            <li>
            <a routerLink="/deskavailability">DESK AVAILABILITY</a></li>
            <li>
            <a routerLink="/teamavailability">TEAM AVAILABILITY</a></li>
            <li>
            <a routerLink="/cabinavailability">CABIN AVAILABILITY</a></li>
            <li>
            <a href="/login">LOGOUT</a></li>
        </ul>
</body>


